<h2>Please enter your email address & password to continue:</h2>
<div class="login-form">
    <form action="/session/admin" method="post">
        <h2>Email address:</h2>
        <input type="text" name="email">

        <h2>Password:</h2>
        <input type="password" name="password">

        <button>Log in</button>
    </form>
</div>
